**/xcuserdata
KinveyKit/build
KinveyKit/doc
KinveyKit/LICENSES.html
.DS_Store
devtools
DocTemplates
KinveyKit/Documents
Tools/upload-to-amazon-aws-s3/node_modules
Tools/kinvey-dump/node_modules
Pods
docs
.build
/build
Kinvey/build
Carthage
!Carthage/Checkouts/NSPredicate-MongoDB-Adaptor/Sources/MongoDBPredicateAdaptor/*.swift
Kinvey.framework.zip
scripts/RealtimeSend/Rome
Package.resolved
Kinvey.xcodeproj
.swiftpm
.env
.dist
