github "KinveyApps/NSPredicate-MongoDB-Adaptor" "master"
github "mxcl/PromiseKit" ~> 4.0
github "kishikawakatsumi/KeychainAccess" ~> 3.0
github "realm/realm-cocoa" ~> 2.0
github "Hearst-DD/ObjectMapper" ~> 2.0
github "DaveWoodCom/XCGLogger" "4.0.0"
github "pubnub/objective-c" ~> 4.0
