github "tjboneman/NSPredicate-MongoDB-Adaptor" "master"
github "mxcl/PromiseKit" ~> 6.0
github "kishikawakatsumi/KeychainAccess" ~> 4.0
github "realm/realm-cocoa" ~> 10.0
github "Hearst-DD/ObjectMapper" ~> 4.0
github "SwiftyBeaver/SwiftyBeaver" ~> 1.0
github "pubnub/objective-c" ~> 4.0
