github "tjboneman/NSPredicate-MongoDB-Adaptor" "master"
github "heyzooi/PromiseKit" "master"
github "kishikawakatsumi/KeychainAccess" "swift-3.0"
github "realm/realm-cocoa" "master"
github "Hearst-DD/ObjectMapper" "swift-3"
github "kif-framework/KIF" "master"
