github "tjboneman/NSPredicate-MongoDB-Adaptor" "master"
github "mxcl/PromiseKit" "4.0.2"
github "kishikawakatsumi/KeychainAccess" "v3.0.0"
github "realm/realm-cocoa" "master"
github "Hearst-DD/ObjectMapper" "2.0.0"
github "kif-framework/KIF" "master"
