<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KCS_API</key>
	<string>v3yk1n-kcs</string>
	<key>KCS_APP_SECRET</key>
	<string>2f355bfaa8cb4f7299e914e8e85d8c98</string>
	<key>KCS_APP_KEY</key>
	<string>kid_-1WAs8Rh2</string>
</dict>
</plist>
